<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom CSS file -->
    <link rel="stylesheet" href="../../styles/stylesheet.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid col-sm-4 hidden-xs">
        <div class="navbar-text pull-left" style="margin-left: 0px;">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-plus text-white"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="navbar-text pull-left visible-xs" style="margin-left: 0px;">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right" style="margin-right: 0px;">
            <a href="#">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                New Page
            </a>
        </div>
    </div>
</nav>
<div class="row container-fluid">
    <div class="container-fluid col-sm-4 hidden-xs"
         style="overflow-y: scroll;top: 0px;bottom: 0px;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">
                    Blog Post
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right" style="margin-left: 10px"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">Blogs</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">Home</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">About</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">Contact Us</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-8 pull-right"
         style="overflow-y: scroll;top: 0px;bottom: 0px;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Page Title">
            </div>
            <input type="submit" class="form-control btn-danger" value="Delete">
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid pull-right">
        <div class="navbar-text row" style="text-align: center; width: 100%;">
            <div class="col-xs-2">
                <a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>